h1 {
  font-size: 30px;
  text-align: center;
  color: white;
}

body {
  background-color: black;
  color: Black;
}

img {
  border: solid black 3px;
  border-radius: 1%;
}

ul {
  font-size: 20px;
}

.header {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  background-color: lightgray;
  border: solid white 3px;
}

.content1 {
  background-color: lightgray;
  box-sizing:content-box;
  overflow:hidden;
  max-height: fit-content;
}

.item1 {
  border: solid white 1px;
  background-color: lightgreen;
}

.item2 {
  border: solid grey 1px;
  background-color: navy;
}

.img-small {
  max-height: 75px;
}

.fakelink {
  float: right;
}

.menu {
  float: right;
}




