h1 {
  font-size: 40px;
  color: white;
}

body {
  background-color: darkgray;
  color: Black;
  font-size: 20px;
  font-weight: 300%;
}

img {
  border: solid black 3px;
  border-radius: 1%;
}

ul {
  font-size: 20px;
}

a {
  color:darkblue;
  font: bolder;
  font-size: 20px;
}

.header {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  background-color: lightgray;
  border: solid white 3px;
}

.content {
  background-color: lightgray;
  overflow:hidden;
  max-height: fit-content;
  
}

.item1 {
  border: solid white 1px;
  background-color: lightgreen;
}

.item2 {
  border: solid grey 1px;
  background-color: navy;
}

.item3 {
  background-color: lightcoral;
  border: solid red 2px;
}

.header3 {
  background-color:coral;
}

.item4 {
  background-color: violet;
}

.header4 {
  background-color: purple;
  border: solid black 3px;
}

.img-small {
  max-height: 75px;
}

.fakelink {
  float: right;
}

.menu {
  float: right;
}

img.roman {
  align-items: center;
  width: 500px;
  height: 400px;
}

.bod {
  border: solid black 3px;
  margin: 10px 10px;
}

.credit {
  color: white;
  font-weight: 300px;
}